[submodule "HDLocker/submodules/NineOldAndroids"]
	path = HDLocker/submodules/NineOldAndroids
	url = git@github.com:Mrzy/NineOldAndroids.git
[submodule "HDLocker/submodules/volley"]
	path = HDLocker/submodules/volley
	url = git@github.com:Mrzy/android-volley.git
[submodule "HDLocker/submodules/CardLibrary"]
	path = HDLocker/submodules/CardLibrary
	url = git@github.com:Mrzy/CardLibrary.git
[submodule "HDLocker/submodules/support-v7-appcompat"]
	path = HDLocker/submodules/support-v7-appcompat
	url = git@github.com:Mrzy/appcompat.git
[submodule "HDLocker/submodules/MaterialDialogs"]
	path = HDLocker/submodules/MaterialDialogs
	url = git@github.com:Mrzy/MaterialDialogsLibrary.git
