[submodule "HDLocker/submodules/NineOldAndroids"]
	path = HDLocker/submodules/NineOldAndroids
	url = https://github.com/Mrzy/NineOldAndroids.git
[submodule "HDLocker/submodules/volley"]
	path = HDLocker/submodules/volley
	url = https://github.com/Mrzy/android-volley.git
